dist: trusty
sudo: required
addons:
  apt:
    sources:
      - google-chrome
      - ubuntu-toolchain-r-test
    packages:
      - google-chrome-stable
      - g++-4.8
env:
  - CXX=g++-4.8

language: node_js
node_js:
  - '6'
  - '7'
install:
  - npm install
  - npm install grunt-cli -g
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
notifications:
  webhooks:
    urls:
      - http://fish.pencilcode.net/pull/staging
    on_success: always
    on_failure: never
    on_start: false
