* {box-sizing:border-box;}
.tooltipster-default {box-sizing:content-box;}
body {margin:0;padding:0;font:24px/28px "Lato";font-weight:700;overflow:hidden}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;
  background:rgba(0,0,0,0.1);display:none;z-index:2}
#overlay .dialog{position:absolute;right:12px;top:68px;
  border:none;background-color:white;box-shadow:0 0 7px black;color:black;
  border-radius:8px;font-family:inherit;font-size:18px;line-height:21px;
  padding:12px;font-weight:300;text-align:center;width:330px;overflow:hidden;}
.framed #overlay .dialog{top:12px;}
#overlay .prompt{padding:8px;font-weight:900;}
#overlay .info{padding:3px;color:red;}
#overlay .content{display:inline-block;padding:3px;}
#overlay .field{text-align:right;padding:3px;white-space:nowrap;}
.username{text-transform:lowercase;}
#overlay .fieldlink {display:block;text-align:left;
  font-size:70%;line-height:100%;}
#overlay .switchuser {text-decoration:none;}
#overlay .switchuser:hover {text-decoration:underline;}
#overflow{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden}
#notification{position:absolute;top:12px;left:0;display:none;
  z-index:1;background-color:gold;
  box-shadow:0 0 7px gray;color:black;border-radius:8px;font-family:inherit;
  padding:3px 32px;font-weight:300;}
#notification a {font-weight:900;}
#notification a:active {font-weight:900;outline:2px dotted red;}
#top{position:absolute;top:0;left:0;right:0;width:100%;height:56px;
  font-weight:900;
  table-layout:auto;overflow:hidden;max-height:56px;border-spacing:0}
#topleft,#topright{padding:0 12px;height:56px;vertical-align:middle;
  overflow:hidden;}
#topright{text-align:right;width:1%;}
#topright button,#overlay button{border:none;background-color:white;
  -moz-appearance: none !important;
  box-shadow:0 0 7px gray;color:black;
  border-radius:8px;font-family:inherit;font-size:18px;line-height:18px;
  font-weight:300;vertical-align:middle;height:28px;
  padding:2px 8px;margin:5px;display:inline-block;}
#topright button#save {
  padding-left: 28px; background-image: url(/pencil_16.png);
  background-repeat: no-repeat; background-position: 8px center; }
#topright button#save[disabled] { background-image: url(/gray_pencil_16.png); }
#topright button[disabled],#overlay button[disabled] {
  box-shadow:0 0 7px darkgray;color:gray;opacity:0.7}
#topright button:not([disabled]):hover,#overlay button:not([disabled]):hover,
#overlay .zeroclipboard-is-hover {
  box-shadow:0 0 7px black}
#overlay a.quiet { color: blue; text-decoration: none; }
#overlay a.quiet:hover { text-decoration: underline; }
#filename[contentEditable]:hover {box-shadow:0 0 3px sienna;}
#owner,#filename,#folder{display:inline-block;vertical-align:middle;
  color:saddlebrown;max-width:90%;max-height:56px;overflow:hidden;
  word-break:break-all;white-space:normal;border:0;}
#owner{color:black;}
#folder{margin:0 12px;}
.helplink { cursor: help; }
.helplink:hover { text-decoration: underline; color: blue; }
.panetitle{position:absolute;top:56px;height:28px;background:dodgerblue;
  font-weight:900;
  padding:0 12px;color:skyblue;letter-spacing:2px;
  border-left:1px solid white;border-right:1px solid white;}
.panetitle a {text-decoration:none;color:inherit;}
.panetitle a:hover {text-decoration:underline;color:white;}
.panetitle a:hover:after { width:10px;height:10px;
  display:inline-block;content:'';
  margin:5px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);}
.pane{position:absolute;top:84px;bottom:0;background:whitesmoke;
  border-left:1px solid white;border-right:1px solid white;z-index:0;}
.back{left:-50%;width:50%;}
.left{left:0;width:50%;}
.right{left:50%;width:50%;}
.ace_search.right{left:auto;width:60%;max-width:400px;}
#middle{z-index:1;display:none;}
#middle,.vcenter{position:absolute;left:50%;top:50%}
.hcenter{margin:-50% -50%;}
#run,#stop {border:0;background-color:rgba(255,255,255,0.7);opacity:0.7;
  box-shadow:0 0 7px gray;color:dodgerblue;border-radius:20px;
  padding:10px 10px 10px 10px;margin:0;display:inline-block;}
#run:hover,#stop:hover {box-shadow:0 0 7px black;opacity:0.9}
#run.pressed:hover,#stop.pressed:hover {box-shadow:0 0 14px black;opacity:1;}
#run .triangle {width:0;height:0;font-size:0;line-height:0;
  border-bottom:20px solid transparent;border-top:20px solid transparent;
  border-left:36px solid dodgerblue; margin-left: 6px;}
#stop .square {width:0;height:0;font-size:0;line-height:0;
  border:16px solid dodgerblue; margin: 4px 5px;}
.panetitle,#owner{user-select:none;-webkit-user-select:none;
  -moz-user-select:none;cursor:default;}
#owner:hover{text-decoration:underline;}
#folder:hover{border-radius:3px;box-shadow:0 0 6px black;}
.editor{position:absolute:top:0;height:100%;left:0;width:100%;
  background-color:white;font:24px "Source Code Pro";font-weight:600;}
#pencildoc .ace_editor {
  font-family: "Source Code Pro";
  font-weight: 600;
  line-height: 121%;
}
/* Code line highlighting for errors */
.debugerror{position:absolute;background:rgba(255,0,0,0.7);z-index:1;}
/* Code line highlighting for currently-running code */
.debugtrace{position:absolute;background:paleturquoise;}
/* Code line highlighting for mouse-focused code */
.debugfocus{position:absolute;background:yellow;z-index:2;}
/* Gutter line highlighting for lines that can be mouseovered */
div.guttermouseable{background-position:right;background-repeat:repeat-y;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAEElEQVQIW2P8/5/hPwMaAAA38gL/hSCOCgAAAABJRU5ErkJggg==);}
body#pencildoc #diigolet-csm {
  /* Disable the diigo csm popup, which gets in the way of the editor. */
  display: none!important;
}
.preview{height:100%;overflow:hidden;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAABlBMVEXS8OD///9kZDOcAAAAI0lEQVR42u3OIQ4AAAzCQPj/p7EYksmRUHeuoDXcEXvwVgkB3egCQVh7Ml4AAAAASUVORK5CYII=);
  background-position:center;}
.preview iframe{height:100%;width:100%;border:none;margin:0;padding:0;}
.directory{height:100%;overflow:auto;}
.directory .column{display:inline-block;float:left;margin-top:12px;}
.directory .item{display:inline-block;float:left;clear:left;
  text-decoration:none;
  padding:0 28px 0 12px;min-height:28px;color:blue;cursor:pointer}
.directory .create {color:dodgerblue;}
.directory .create:hover {text-decoration:underline;}
.directory .item:hover{text-decoration:underline;}
.loading,#notification.loading{padding:0;box-shadow:0 0 7px gray;width:32px;height:32px;border-radius:16px;background-position:center;background-repeat:no-repeat;opacity:0.7;background-color:white;background-image:url(data:image/gif;base64,R0lGODlhIAAgAPQBALe3t6enp3t7e9fX1/n5+ejo6JeXl4WFhcjIyMfHx4aGhpiYmOfn5/j4+Jubm9jY2IODg6ioqLi4uP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJBwABACwAAAAAIAAgAAAF/2AgjiNRAMshrMKxAAUpzyKBLGyuLwNNF7jVIQJAGBGAiGq1iPlEg+VrQC1Yr4WbsOdDCCPU8ACLBSwRNG8LIQ6TsdEVd1RQHdjt6htrd4pwd3lue1dxCyMDK2B5KDkvbwQAcn8CC0ZtSzqVWASdOIcFK0VHAwhSeFotVp2daidrR0ZnM2oLrKwqjZaxEStoab63BL0pAhGxWodPn8JeS6NHvk8BasKJLNBGk0/X1jnZanM03bfXosjST9XlQsZHAGaV08y3zp/w+L0Cv7TBt8SSBODDN4tEJCHCCOQKZWwgPBa7BjTyx+paDEAO4WXS4QKAsE9QmGREsdFFhAVgWE8FnBOEiMMIMGPKXDBF3wESdVq8lMkTJs0gAvyEbOEySc+eQPmRUFMJ3lGeQAGoY2Hy6clMSn8AbfHz50Ye00gM2KpJSNawUE5yHDKAwJMQACH5BAkHAAQALAAAAAAgACAAAAT/kMhJBzBHaHEMYA0ljlJibGhqJCEpMqfWAUBiA0GmGYw7JTrPYEgsmmQDX0IWSBSfQwYDoEuQlpyaDVqUMga6JIWROdjO3Kj3W+5NYtqzk7uWggWGn6Ypv8V2H3VTGmInZn1AKRsHA4IneQx7iEFzRxyCWIMCkxpWIlg8dRkXeHEJAZ0uWAl1qBgCATQ0iXk+j2sNSzqxsgCpShoNwsIDKLyyhD4ExQLDxMa9vgJiLszODcx70b+qwc7MGcc0GbUuj9e6j9Fw3ZvXrtLRVBoALXp41w2jkbDRqDIABiSYxyEfsx6GZAVYmEPRjnwNHklg5oEhw1eL6uXDQi2GxY8XRjVeI4NnDBOQFldAbPPpJMoAHkaGubLBwEuYA4Yl2uTjDgebHw3YxKGDkTICMFB0EMpUxw43RwlYcrjIU9QxF5zuCECNRAQAIfkEBQcACQAsAAAAACAAIAAABP8wyUkLMEdocQwoVChOg7GdqDGMY2FqXQDMM7YZICsNGRcgwOBgOLjAVizE5hdsEomAHmKk5ACa2CcR0UNOCpnDFevUEsM5yYtGBpqfXIFhUvXMmoGXxmO2aJAmYjRXUSgbB08FiiZzBRoygwA3CEMIL4gDiopVfgKRhQJTIVUHmpoZRnY0ARqiIlUfpqw2qjMZczqMpn49kDStOgmcplWPkX/BAxq7xQK+M8g6ygLMJ5AB2MA6w5rTe9jgt8G6xByB4NgvrqOtu7OSzugBUq97BPenno5y8qwwlAMswShwryCnBOf69TCEo2BBRhLq9Muz0BkChwXheXlhoF/HARhDQ/KQUwGGR5AhHYLhkCYijI7gDKRU2YXKjXQyZxKIE2rbIQNAUWIscSRYAhcnOgDYMu9Gy2A8DZ1QYbRF06QenoaIAAAh+QQJBwACACwAAAAAHgAgAAAEv1DIORu98uE9Ef8gswVAGYCoUCJsy14eWq5ufabkDNS1luo0HuJBjI2AQR6RyHEgAaPhkilDSacZiQME9XWmD+gkQL5NxBywV1Amb1MZrLZthoMnDjp8MhXN2xJGIQyEfgJ5gHsChYR4ZIoUjAyCkJGMPymScGgbkoYYDm+HHJ4feTuDmhuhDw2uCHUSrg2XTQCzuAK4s4VrFw4Iuxa6wq6fI7sVxXsBubLCkA6trsTOlQIHAUPXFw+i3B8A33ARACH5BAkHAAcALAAAAAAgACAAAAT/8MhJRzAiZ2XCIFQoSominaiRgGNYYFoXzDOcGUU7JZoSAMBgMBEwCRQJHSAmbAISUKImKeIdZ05hFAowUieFDS0L3G5NitwERsNmzdGuwLC7tbEGox0uFVAxPndFKD18GHRhc4IxCQMDCTBIWwNLApQZgl5VG1COjiYAgHcwXyFWAJ6Oh3ZtaDoHh6mXRjI0GaWblqmVrLaWrwMZsla9HbfAwqnEcwbNFxkAr1bDJ80qj646sbtHogUE4Fa4dQKoqQGK0ODrpCzkaQUFnqDBAgHr67SNj5ED8f9WcgDCx47QjX8ID0mot4IggT43EiD8V2nAmiPfHOKbiHCACTpgQNBo3MhRHho1E+qlGUmgpEdhI6wgGclRjh8dL+d8IIgQ0gaLr170CLDPERE9OF5VsGHwBlClFFqG0tMNAMoREQAAIfkEBQcABgAsAAAAACAAIAAABP/QyEkLWCJntUChYDghmGaaCyKKRbktQRwsrrB8q4RonAz8QEBAsVGtdhmYLBBsuowgZG8ZazaJggGosKEurVeBAicpKb1M8A8BSI6S6AW2C0TYEYGM1kBUoOcnCgB3d0QLBlw2XhopAwMkGoOEeQIFlDRLWFBvYoR2RAB9NKMlmxRIAZ4YZgMEBANDYjkGGAqeeVgArq4DGaZRvoRtGq27BHqzvQKew3rGx1nJesImxbu+s0iO28NECM+rs6vbjm0cAgHPSL86GQDkA6vmzwSlIVLwA6CJ1q4FWI0elVCQb9iHVfRanOCRL54NCcq+0YPEyENBZGXEFEhYoKNHj+REEBiq0GejsY8oO24rCUIZwV0pY4rECEyMLgIxUYbCtkJfEgQ5O1IkOAuRCz8IHtkRMudG0QkOF55YsOdphQuAOHiYFQEAIfkECQcAAgAsAAAAACAAHgAABbugII4jQZ7ig66kyb5wijp0Hd9koO+BgwuAF2+HCsIcw6QOwAz8aMrhTwR4IKDRAHMLcJ5UQIKY0WM5uFsfyecQuwHqF9r4dYsRpCD+hM4LIHZiI3QrcyM+AYF7hCx9JAiBbDiMJA+BU5iZmjFge5swCKGhnyuioV6kIgGmnqkCrK0sDDcIVqIjYCcMu7MvD7+/oy+8vJQCwMioKA/EzbvI0DfOzdDAsSzM0wzVua/S09Wf4L/GmdckvSQhACH5BAkHAAAALAAAAAAgACAAAAX/ICCO5BAoQqoqwdCQcCwmqGrbivTKcGHghqCwljIMeKNBLZeQBAPQqIGYQCZSikRjWwgYomCvSiIbYAvbdOIbBteqpAJKka4P2O1orUD6KdB1W055YUVJKVqBDRJEAgp4YD8CcD8Gig2SN45gEp1zAAUpLoE1BgkJA04qUJ2dAaISjoqScCRXjq2tKWIBgbe1MLcGuapTk4GVSAB+xK8qo2mIyrfNNtBbospmAtXPgdlI292iBeXl0lYp3SgJ5uXJSH6nTRLOPwHuBb88twHzTZVi/clHa8eIW1n+UQs1KZ+cIqgGrMGiMIEzPpUcKtFEsSIKAyLEOSygSsWwihbBTS1zNEDjgJcwXyqMJQDkiIcKWrqLyVPivDl8SmDRWaAnz1OMVNrCIqGcUZ4n0JUpFfFpySzKQGViIWFeJ2NFgmYVkYmjobEynMQYljUEACH5BAUHAAkALAAAAAAgACAAAAT/MMlJCzBHaH1CoWA4DcZmngciikXJBcggX9lmfKs01MZA/EACyYDZqFYIDiLIJBADAZfgCBpwCk2mAQotTkGFzAGbBZK43BpOUjr4yr9BFN3VGEYaQBYRMB22dFEaRyUGTS0nGx2BGXcFg0xhdjEDCDUCgS4WAmMFZE6DIUmcgXklHp6eo1Qgo4BpAkUIqZ6FOQltdFICA7SPXzmjXAAAfUa+GgO3VgLEzsaDyLzLec7FJrO0ocHVzxzNvrY5bdYXnKe+ANuiGgHlheqdtDWsEqMH5erg0akyPJQIpOQz9qFQPxk7EnEAgKBcIx15CiBEaM4GDAQYnbmg0obSxIkYREOGdGangpiPIEWqBCBmDUROHlOqzEhPxD0AKGdihFaPQsJYOBHODFDDza0EiDgYKBfl0o2jI3YpjKUMKhgafpa6DBEBACH5BAkHAAIALAIAAAAeACAAAAW7oCCOZCk6gKmurOA8bSw+SADJuEjsj5PLu11KNFQ9gsgksrhiKJ/I3ohRejCu0CfC4VNdv6sAIsjgNr9gFgIQ6HrRVJWb6y7B47/3l5knwfskXQh/gAFtU2h5hotuhDEwAouGjQ+VkDmShzOWlziZbpydMQ6ZJKGiMZIiAQIAoQhVrS1dkKewLXxGr6wmAL65JpwIw8TEv8e8KgiWxc3Hvjg0zcXPyS1i08a/JMAm2WvdmDF4gN7lLAQsIQAh+QQJBwAIACwCAAAAHgAgAAAE/xDJKQswR2hxDCgEJY6DsZ2oMYQjVZjaESRDPSRBphlFKw06Q6JABBGOx1Js0ErEPkUickpI6BKiwTJapE4LOmYlcxhwu94puYcwlc/o9BEsMEg0UG4CppmlnQJYdXB8KWlkCIFcQDs0NzAHXgAaQDZFVyOABlSTAgEqNgOdWE14SAM5HAChSnY+baoJFwYwjjYapD6atAGfuKyUrwhanga9voHAAmI+xMe9MKuhuMKAz8jSNiauPm7XMKA2o7o712RlNglWpiKAMtd9AtLq6kGr6nzXyAV19P46KDjoS3UgkSd/9JDF8KCvFqwDABDSA0CxIkV4dcZwkKjOosdjOjTYDHuC0KPJVIHabZgx0WRFPrkoMBIoyyUAlCl9vDhh7BtPka/2BAyoQpgIAhYwnOiwSlgEACH5BAUHAAYALAAAAAAgACAAAAT/0MhJC1hKaKEWKFQoTsOynegyjGNhakoAIPSABJm2gKw05AtEYUgsIl6KFQsB+xSfQwIBkEOMBjAhFCol/DTKSSGTHAy2xa50zOFJTAqE2YyOqgnsBUUDmM8tLzoId1JMAkomKn5mOSgCO4SJEwJ9i0ByNkgFd1gCPGV+VSKGC4QZF4+LABpWI4aDagGPp4uSPYl3TDmVc6w9BoacJzM0cmC/ncIbxMXHPclqnXzFNL49hgNqqxwCAdQIGXo9ZAHZXi+J37ICraM6C/DwZBJx36IhhjEB+/AaARLdvm17hOnIhn0IA7wAAecbAiqOYCREOA9gwGIAMuI40WEiP2sGRF7MyEiyJACPCNFVIGOyJcp9Odz4aNKSJEoMICkYelRTY8JA7UbliFEzZaOgLQI9WvCz0SOZvwxGPBHkFwtATnlCDREBADs=);}
.protractor-label {padding: 15px;}
.panetitle-extra {
  float: right;
}
.ice-toggle-button {text-decoration:none;color:inherit;font-size:18px;cursor:pointer;}
.ice-toggle-button:hover {text-decoration:underline;color:white;}
